/* General View Styles */
/* ------------------- */

.view-header-img {
  display:inline-block; 
  padding:10px; 
  vertical-align:middle; 
  height:80px;
}

.view-header-label {
  display:inline-block;
  padding:10px;
  margin:0;
  vertical-align:middle;
}

.disclaimer-msg {
  text-align:center; 
  font-size:12px;
  color:red;
}

.footer-label {
  text-align:center;
  font-size:10px;
  color:gray;
}

.resume-img {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}

.loading-text {
  text-align: center;
  font-size:25px;
}

.hide {
  display: none; 
}

/* Monosocial Icons */
/* ---------------- */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

/* Bootstrap & Flat UI Overwrite */
/* ----------------------------- */

.name-title {
  text-align: center;
}
.description-sub {
  text-align: center;
  color: #1ABC9C;
}

.home-nav {
  background: #34495E;
}

.container {
  min-width: 320px;
}

.active {
	background: #2C3E50;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #2C3E50;
}







