<br>
<div class="col-md-12" style="text-align:center">
	<div class="ss-form-heading col-md-12">
		<img class="view-header-img" src="images/icons/svg/book.svg" alt="Blog">
		<h3 class="view-header-label">BLOG</h3>
	</div>
	<hr>
</div>
<div class="col-md-12 loading-text" ng-class="{hide: doneLoading}">
	<span>Loading Blog Posts...</span>
	<div class="spinner16">
	    <ul>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
	        <li></li>
        	<li></li>
    	</ul>            
	</div>
</div>
<div ng-repeat="blog in blogPosts | reverse">
	<blogpost></blogpost>
</div>