<br>
<div class="col-md-12" style="text-align:center">
	<div class="ss-form-heading col-md-12">
		<img class="view-header-img" src="images/icons/svg/clipboard.svg" alt="Pictures">
		<h3 class="view-header-label">RESUME</h3>
	</div>
	<hr>
</div>
<a href="https://docs.google.com/file/d/0BzOndqQ2V47dMkRBczlCdlhMcG8/preview">
	<img src="https://docs.google.com/file/d/0BzOndqQ2V47dMkRBczlCdlhMcG8/image?pagenumber=1&w=1600" class="img-responsive resume-img col-md-12">
</a>
<br />
<a href="https://docs.google.com/file/d/0BzOndqQ2V47dMkRBczlCdlhMcG8/preview">
	<img src="https://docs.google.com/file/d/0BzOndqQ2V47dMkRBczlCdlhMcG8/image?pagenumber=2&w=1600" class="img-responsive resume-img col-md-12">
</a>
