<div ng-controller="navigationCtrl" class="col-md-12 hover-styling" style="padding:0">
	<ul class="nav nav-justified">
		<li class="home-nav" ng-class="{ active: isActive('/') }">
			<a href="#/">
		    	<span class="fui-cmd"></span>
		    	<span class="nav-item-title">Home</span>
			</a>
		</li>
		<li class="home-nav" ng-class="{ active: isActive('/resume') }">		
			<a href="#/resume">
		    	<span class="fui-user"></span>
		    	<span class="nav-item-title"> Resume</span>
			</a></li>
		<li class="home-nav" ng-class="{ active: isActive('/blog') }">
			<a href="#/blog">
		    	<span class="fui-new"></span>
		    	<span class="nav-item-title"> Blog</span>
			</a></li>
		</li>
		<li class="home-nav" ng-class="{ active: isActive('/photo') }">
			<a href="#/photo">
		    	<span class="fui-photo"></span>
		    	<span class="nav-item-title"> Photos</span>
			</a></li>
		</li>
<!-- 		<li class="home-nav" ng-class="{ active: isActive('/video') }">
			<a href="#/video">
		    	<span class="fui-video"></span>
		    	<span> My Videos</span>
			</a></li>
		</li> -->
		<li class="home-nav" ng-class="{ active: isActive('/contact') }">
			<a href="#/contact">
		    	<span class="fui-mail"></span>
		    	<span class="nav-item-title"> Contact Me</span>
			</a></li>
		</li>
	</ul>
</div>